extends  ../_skeleton

//- Includes
include ../elements/_ui-tag-list
include ../elements/_ui-list-inline-icon
include ../elements/_ui-slider-blog
include ../elements/_ui-pagination-classic
include ../elements/_ui-quote-centered

block variables
  - var activeIndex = 6
  - var pageName = 'Right Sidebar'

block page
  // Page header
  include ../sections/_header-default 
    
  // Parallax header
  include ../elements/_ui-parallax
  section.bg-gray-dark
    +parallax({
      "attrType": "media",
      "src": "images/parallax-1.jpg",
      "htmlSpeed": "0.1",
      "class": ['parallax-header']
    })
      .parallax-header__inner: .parallax-header__content
        .container
          .row.justify-content-sm-center
            .col-md-10.col-xl-8
              h2.heading-decorated=pageName 

  section.bg-default.section-md
    .container
      .row: .col-sm-12.text-center: h4.heading-decorated Blog 
      .row.row-70
        .col-lg-7.col-xl-8.section-divided__main
          // Post classic
          .section-sm
            article.post-classic
              .post-classic-title.post-classic-title-icon.linear-icon-star
                h5: a(href=postImage) The Answer to a Satisfying Sectional Experience
              +jpg('blog-image-1-886x668')

              .post-classic-body
                p Inorganic pigments are typically used to meet high performance requirements but typically include fewer bright colors.

              .post-meta
                .group
                  a(href=postImage): time(datetime='2017') Jan.20, 2017
                  a(href=postImage).meta-author by Brian Williamson
                  a(href=postImage) 3 comment(s)
                  +tag-list({
                    list_class: 'list-inline-tag',
                    href: postImage,
                    items: [
                      "Industry News"]
                  })

              .post-classic-footer
                +list-inline-icon({
                  list_class: 'list-inline-sm',
                  items: [
                    "icon-xxs fa-facebook",
                    'icon-xxs fa-twitter',
                    'icon-xxs fa-google-plus',
                    'icon-xxs fa-vimeo',
                    'icon-xxs fa-youtube',
                    'icon-xxs fa-pinterest-p']
                })

                a(href=postImage).button.button-link Read more

          // Post gallery
          .section-sm
            article.post-slider
              .post-classic-title
                h5: a(href=postSlider) How to Improve Your Lighting at Home

              +slider-blog({
                class: 'carousel-slider-blog-post',
                items: [
                  {
                    original_img: 'project-category-1-original-1200x800',
                    img_thumb: 'project-category-1-original-1200x800'
                  },
                  {
                    original_img: 'project-category-2-original-1200x800',
                    img_thumb: 'project-category-2-original-1200x800'
                  },
                  {
                    original_img: 'project-category-3-original-1200x800',
                    img_thumb: 'project-category-3-original-1200x800'
                  }
                ]
              })

              .post-classic-body
                p By improving the physical layout of hospitals and medical facilities, we can enhance and increase safety mechanisms, improve care, and help reduce the exposure to medical errors, writes Skanska USA’s Andrew Quirk.

              .post-classic-footer
                .post-meta
                  .group
                    a(href=postSlider): time(datetime='2017') Jan.20, 2017
                    a(href=postSlider).meta-author by Brian Williamson
                    a(href=postSlider) 3 comment(s)
                    a(href=postSlider) Theme
                    +tag-list({
                      list_class: 'list-inline-tag',
                      href: postSlider,
                      items: [
                        "Completed Projects"]
                    })
                a(href=postSlider).button.button-link Read more

          // Post video
          .section-sm
            article.post-video
              .post-classic-title
                h5: a(href=postVideo) Space Saving Ideas For Your Home

              .entry-video.embed-responsive.embed-responsive-16by9
                iframe(width='886', height='668', src=videoSrc, allowfullscreen='')


              .post-classic-body
                p Fluor Corp., The Walsh Group, and Hensel Phelps top Building Design+Construction’s annual ranking of the nation’s largest military sector construction and construction management firms, as reported in the 2017 Giants 300 Report.

              .post-classic-footer
                .post-meta
                  .group
                    a(href=postVideo): time(datetime='2017') Jan.20, 2017
                    a(href=postVideo).meta-author by Brian Williamson
                    a(href=postVideo) 3 comment(s)
                    a(href=postVideo) Theme
                    +tag-list({
                      list_class: 'list-inline-tag',
                      href: postVideo,
                      items: [
                        "Industry News"]
                    })
                a(href=postVideo).button.button-link Read more

          // Post Link
          .section-sm
            article.post-link
              .post-classic-title
                h5: a(href=blogPostLink) The Best Ceiling Colours
              a(href=blogPostLink) http://templatemonster.com/

          // Post quote
          .section-sm
            article.post-quote
              a(href=postQuote)
                +quote-centered({
                  text: "7 Ways to Add a Custom Look to Your Home",
                  cite: "Adam Smith"
                })
          // Post standard
          .section-sm
            article.post-classic
              .post-classic-title
                h5: a(href=postLink) 5 Tips To Add Colour To Your Family Room

              .post-classic-body
                p This project turned out to be exciting from the very beginning… To start with its complexity, besides designing a regular…

              .post-classic-footer
                .post-meta
                  .group
                    a(href=postLink): time(datetime='2017') Jan.20, 2017
                    a(href=postLink).meta-author by Brian Williamson
                    a(href=postLink) 3 comment(s)
                    a(href=postLink) Theme
                    +tag-list({
                      list_class: 'list-inline-tag',
                      href: postLink,
                      items: [
                        "Industry News"]
                    })
                a(href=postLink).button.button-link Read more

          // Post audio
          .section-sm
            article.post-audio
              .post-classic-title
                h5: a(href=postAudio) Five Tips To Designing The Perfect Nursery

              include ../includes/_rd-audio-track

              .post-classic-body
                p Delaware proved to be a very friendly place to work at… While invited there for completing a mid-sized warehouse for…

              .post-classic-footer
                .post-meta
                  .group
                    a(href=postAudio): time(datetime='2017') Jan.20, 2017
                    a(href=postAudio).meta-author by Brian Williamson
                    a(href=postAudio) 3 comment(s)
                    a(href=postAudio) Theme
                    +tag-list({
                      list_class: 'list-inline-tag',
                      href: postAudio,
                      items: [
                        "Completed Projects"]
                    })
                a(href=postAudio).button.button-link Read more

          // Pagination
          .section-sm
            +pagination-classic(1,
            [{"href": "#"}, {"href": "#"}, {"href": "#"}, {"href": "#"}],
            null,
            {"title": "", "href": "#"}
            )

        .col-lg-5.col-xl-4.section-divided__aside.section-divided__aside-left
          include ../sections/_section-aside-sidebar-blog

  // Modal
  include ../sections/_section-modal
            
  // Page Footer
  include ../sections/_footer-corporate

