// Projects
section.section-lg.bg-default.text-center
  .container
    .row.row-30
      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-1-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 Office Center

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-1-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) Office Center
              p We have recently finished a new project of redesigning an old building into an office center…
              a.button.button-link(href=projectCategory) VIEW MORE

      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-2-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 Art Gallery

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-2-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) Art Gallery
              p Smith’s Art Gallery offered us an opportunity to design a new interior for the oldest fine arts…
              a.button.button-link(href=projectCategory) VIEW MORE

      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-3-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 Museum

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-3-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) Museum
              p Two months ago we have finished remodeling of one of the history museums that included space…
              a.button.button-link(href=projectCategory) VIEW MORE

      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-4-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 Local café

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-4-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) Local café
              p This project was our first try to design something special for a local café. It eventually became…
              a.button.button-link(href=projectCategory) VIEW MORE

      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-5-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 Bus station

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-5-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) Bus station
              p Our designers did an amazing job on this project. It included a complete redesign of the interior for…
              a.button.button-link(href=projectCategory) VIEW MORE

      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-6-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 Residential house

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-6-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) Residential house
              p Residential interior design remains our specialization for more than 10 years and we have worked…
              a.button.button-link(href=projectCategory) VIEW MORE

      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-7-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 Penthouse

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-7-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) Penthouse
              p One of the unique projects we have ever done consisted of remodeling a penthouse of a top model…
              a.button.button-link(href=projectCategory) VIEW MORE

      .col-sm-6.col-lg-4.col-xl-3
        // Thumb creative
        .thumb-creative: .thumb-creative__inner
          .thumb-creative__front
            figure.thumb-creative__image-wrap
              +jpg('project-8-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6 Hotel

          .thumb-creative__back
            figure.thumb-creative__image-wrap
              +jpg('project-8-480x361', 'thumb-creative__image')
            .thumb-creative__content
              h6.thumb-creative__title: a(href=projectCategory) Hotel
              p Bryson Hotel ordered a complete refurbishing and space planning of their interior, We completed…
              a.button.button-link(href=projectCategory) VIEW MORE