// Our Services
section.section-md.bg-default.text-center
  .container
    .row: .col-sm-12: h4.heading-decorated Our Services
    .row.row-50.justify-content-md-center.justify-content-lg-start
      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-circle: .unit.flex-sm-row.unit-spacing-md
          .unit__left: .blurb-circle__icon: span.icon.linear-icon-pencil-ruler
          .unit__body
            p.heading-6.blurb__title: a(href=singleService) Interior Design
            p We develop and implement better interior design concepts for you so that you and all your guests could enjoy the unique atmosphere of your home.  

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-circle: .unit.flex-sm-row.unit-spacing-md
          .unit__left: .blurb-circle__icon: span.icon.linear-icon-users
          .unit__body
            p.heading-6.blurb__title: a(href=singleService) Space Planning
            p We create better interior experiences through space planning services. They are vital for a successful interior design project of your home or office.

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-circle: .unit.flex-sm-row.unit-spacing-md
          .unit__left: .blurb-circle__icon: span.icon.linear-icon-wall
          .unit__body
            p.heading-6.blurb__title: a(href=singleService) Consultations
            p Our specialists are ready to consult you on any interior design related topic. All you have to do is to contact us and we will organize a free consultation.

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-circle: .unit.flex-sm-row.unit-spacing-md
          .unit__left: .blurb-circle__icon: span.icon.linear-icon-apartment
          .unit__body
            p.heading-6.blurb__title: a(href=singleService) Feng Shui Design
            p With years of experience, our experts can help you design your interior according to the ancient Feng Shui  philosophy while saving time.

      .col-md-6.col-xl-4
        // Blurb circle
        article.blurb.blurb-circle: .unit.flex-sm-row.unit-spacing-md
          .unit__left: .blurb-circle__icon: span.icon.linear-icon-home4
          .unit__body
            p.heading-6.blurb__title: a(href=singleService) Landscape Design
            p Our designers will team with you to create your ideal landscape design plan. Their expert advice and solutions will deliver a plan to meet your needs.

      .col-md-6.col-xl-4
        // Blurb circle 
        article.blurb.blurb-circle: .unit.flex-sm-row.unit-spacing-md
          .unit__left: .blurb-circle__icon: span.icon.linear-icon-pencil-ruler2
          .unit__body
            p.heading-6.blurb__title: a(href=singleService) Decorative Services
            p Our professional decorators will be happy to help you change your house’s inner look without spending too much money on interior design.
='\n'