// Posts
section.section-md.bg-default
  .container
    .row: .col-sm-12.text-center: h4.heading-decorated Recent News 
    .row.row-60
      // Owl Carousel
      .owl-carousel(data-autoplay='true', data-items='1',data-sm-items='2',data-xl-items='3', data-dots='true' data-nav='false' data-stage-padding='15', data-margin='30', data-mouse-drag="false", data-loop='true')
        .owl-item
          // Post classic
          article.post-classic.post-minimal
            +jpg('home-post-2-418x315')

            .post-classic-title
              h6: a(href=postImage) 7 Ways to Add a Custom Look to Your Home

            .post-meta
              .group
                a(href=postImage): time(datetime='2017') Jan.20, 2017
                a(href=postImage).meta-author by Brian Williamson

            .post-classic-body
              p When we hear the word “custom” we tend to think of the words, “high-end” and “expensive”. This may be true, but in life, we generally get… 
        .owl-item
          // Post classic
          article.post-classic.post-minimal
            +jpg('home-post-1-418x315')

            .post-classic-title
              h6: a(href=postLink) How to Improve Your Lighting at Home

            .post-meta
              .group
                a(href=postLink): time(datetime='2017') Jan.20, 2017
                a(href=postLink).meta-author by Brian Williamson

            .post-classic-body
              p While some find a single lamp in a room adequate, others are now seeing the value of properly, layered lighting. If you’re unsure about how…
        .owl-item
          // Post classic
          article.post-classic.post-minimal
            +jpg('home-post-3-418x315')

            .post-classic-title
              h6: a(href=postSlider) The Answer to a Satisfying Sectional Experience

            .post-meta
              .group
                a(href=postSlider): time(datetime='2017') Jan.20, 2017
                a(href=postSlider).meta-author by Brian Williamson

            .post-classic-body
              p There’s a distinct possibility that you’re now feeling a little disillusioned with the whole furniture-buying experience because you have this large piece…
        .owl-item
          // Post classic
          article.post-classic.post-minimal
            +jpg('home-post-1-418x315')

            .post-classic-title
              h6: a(href=postLink) How to Improve Your Lighting at Home

            .post-meta
              .group
                a(href=postLink): time(datetime='2017') Jan.20, 2017
                a(href=postLink).meta-author by Brian Williamson

            .post-classic-body
              p By improving the physical layout of hospitals and medical facilities, we can enhance and increase safety mechanisms, improve care, and…
        .owl-item
          // Post classic
          article.post-classic.post-minimal
            +jpg('home-post-3-418x315')

            .post-classic-title
              h6: a(href=postSlider) The Answer to a Satisfying Sectional Experience

            .post-meta
              .group
                a(href=postSlider): time(datetime='2017') Jan.20, 2017
                a(href=postSlider).meta-author by Brian Williamson

            .post-classic-body
              p There’s a distinct possibility that you’re now feeling a little disillusioned with the whole furniture-buying experience because you have this large piece…    
        .owl-item
          // Post classic
          article.post-classic.post-minimal
            +jpg('home-post-2-418x315')
  
            .post-classic-title
              h6: a(href=postImage) 7 Ways to Add a Custom Look to Your Home
  
            .post-meta
              .group
                a(href=postImage): time(datetime='2017') Jan.20, 2017
                a(href=postImage).meta-author by Brian Williamson
  
            .post-classic-body
              p When we hear the word “custom” we tend to think of the words, “high-end” and “expensive”. This may be true, but in life, we generally get… 
='\n'